[Unit]
Description=CloudQuery

[Service]
ExecStart=/cloudquery sync --log-format json --log-console /aws.yaml /postgresql.yaml

[Install]
WantedBy=multi-user.target
