name: CORE4 label enforcement
permissions:
  contents: read
on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize, reopened, edited]
jobs:
  require-label:
    uses: guardian/.github/.github/workflows/require-label.yaml@0d27aef7f3eefc04038859d3c0c63cf236b0e305
